.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    align-items: flex-start;
}

.todos {
    display: flex;
    width: 30%;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(192, 240, 243, 0.24);
}

.todos_heading {
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.second {
    background-color: rgba(247, 180, 168, 0.141);
}

.third {
    background-color: rgb(8 223 245 / 8%);
}

@media (max-width: 700px) {
    .container {
        width: 80%;
        flex-direction: column;
    }

    .todos {
        width: 100%;
        margin: 10px 0px;
    }
}